plotly<=5.24.1
git+https://github.com/lm-sys/FastChat.git@main#egg=fschat[model_worker,webui]
accelerate>=0.21
peft
sentencepiece
torch
transformers>=4.31.0
protobuf
scipy
pandas>=2.0.0
numpy>=1.24.0
