body {
	padding: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body take the full viewport height */
    font-size: 30px; /* Increase the font size */
    text-align: center; /* Center the text */
}

h1 {
	font-size: 16px;
	margin-top: 0;
}

p {
	color: rgb(107, 114, 128);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}

/* Additional style to ensure the link is also affected by the font size */
a {
    font-size: inherit; /* Ensures that links inherit the body's font size */
}